#Login {
    width: 40%;
    margin: 70px auto;
    text-align: center;
}

#Login form {
    display: grid;
    grid-template-columns: 1fr;
}

#Login input {
    max-width: 260px;
    height: 30px;
    margin: 0 auto;
    /* margin: auto; */
}